<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Free CRM Application Automation Test Suite">

<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>

	<test name="Free CRM Application Test Cases">
		<classes>
			<class name="com.crm.qa.testcases.ConatctsPageTest" /></class>
			<class name="com.crm.qa.testcases.HomePageTest" /></class>
			<class name="com.crm.qa.testcases.LandingPageTest" /></class>
			<class name="com.crm.qa.testcases.LoginPageTest" /></class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->